#titre_phantomaJ_0
{
	text-align:center;
	width:100%;

}

#titre_phantomaJ_1
{
	text-align:center;
	width:100%;
}

#titre_phantomaJ_2
{
	box-shadow: 10px 10px 5px #888888;
	text-align:center;
	page-break-after:always;
}

.ImageClassic
{
	box-shadow: 10px 10px 5px #888888;
	text-align:center;
/*	width:100%;
	height:90%;*/
}

body
{
	margin:0;
	padding:0;
/*	width:100%;
	height:100%;*/
}

html
{
	margin:0;
	padding:0;
	width:800px;
	height:5000px;
}

.TitreBasic
{
	text-align:left;
	margin: 0px 25px 0px 25px;
	page-break-after:always;
}

.TitreSeconde
{
	text-align:left;
	margin: 0px 25px 0px 25px; 
}

.TitreTertiaire
{
	text-align:left;
	margin: 0px 25px 0px 25px; 
}


.TextBasic
{
	text-align:left;
	margin:0px 50px 0px 5px;
}

span.warning
{
	color:red;
}
